body {
  background-color: #0D1321;
  color: white;
}

.main-nav {
  display: flex;

}

#sign-out {
  margin-left: auto;
}

#sign-in {
  margin-left: auto;
}

#sign-up {
  margin-left: 900px;
  /* margin-right: 5px; */
}

#user-email {
  margin-left: 850px;
}

#products {
  margin-left: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #1D2D44;
  color: white;
}

.underline {
  text-decoration: underline;
  color: white;
}

li a{
  color: white;
}

.actions{
  color: black;
}
.index-welcome{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #657153;
}

.col-border {
  border: 2px black solid;
  background-color: #748CAB;
}

.heading-border {
  border-bottom: 1px white solid;
  text-align: center;
}
.product-border{
  border: 1px white solid;
  column-count: 2;
  padding: 15px;


}
